*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/buildSrc/.gradle
/buildSrc/build

.idea/
*.apk
gradlew.bat
fastlane/report.xml
fastlane/README.md
/app/src/main/gen
Gemfile.lock
apikey.properties